body{
    margin: 0;
}
.main-body{
    height: 500px;
    width: 100%;
    background: linear-gradient(#695aa6,white);
}
.image{
    height: 500px;
    width: 380px;
    margin-top: 80px;
    margin-left: 460px;
}
.btn {
    text-decoration: none;
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    margin-top: 100px;
    margin-left: 580px;
    float: left;
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: RoyalBlue;
  }